
@{
    ViewBag.Title = "Sent2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-image:url(../../Content/header-bg.jpg); background-repeat:no-repeat; background-size:cover; margin-right:-1em">
    <div class="jumbotron" style="text-align:center; opacity:0.9">
        <h2>Your message has been sent!</h2>
    </div>
    <div style="height:30em"></div>
</body>



