
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body style="background-image:url(../../Content/header-bg.jpg); background-repeat:no-repeat; background-size:cover; margin-right:-1em">
        <div class="jumbotron" style="text-align:center; opacity:0.9">
            <h2>Your message has been sent and the request is deleted!</h2>
        </div>
        <div align="center">
            <p style="margin-top:-2em"><a href='@Url.Action("Index", "Request")' class="btn btn-default" style="background-color:#feab33">Back to requests</a></p>
        </div>
        <div style="height:30em"></div>
    </body>
